*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#corpo {
    width: 1920px;
    height: 1644px;
    background-color: #EDEDED;
}

.container1 {
    width: 480px;
    height: 769px;
    background-color: rgb(201, 15, 201);
    position: absolute;
    }

  

.rect1 {
    width: 448px;
    height: 669px;
    background-color: rgb(15, 33, 201);
    position: absolute;
    left: 16px;
}

.rect2 {
    width: 448px;
    height: 63px;
    background-color: coral;
    position: absolute;
    bottom: 37px;
    left: 16px;
} 

.img-sopra {
    width: 448px;
    height: 669px;
    position: absolute;
    object-fit: cover;
}

.img-sopra:hover {
    display: none;
}

.img-sotto {
    width: 448px;
    height: 669px;
    position: absolute;
    object-fit: cover;
    /* display: none; */
}

.img-sotto:hover {
    display: block;
}

.tags {
    background-color: cornflowerblue;
    position: absolute;
    bottom: 3%;
    height: 44px;
    width: 152px;
}

.sconto , .sostenibilità {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 4px;
}

.sconto {
    background-color: #EB0037;
    position: absolute;
    height: 25px;
    width: 40px;
    font-size: 15px;
    color: white;
    bottom: 0%;
    left: 0%;    
}


.sostenibilità {
    background-color: #00875A;
    position: absolute;
    height: 25px;
    width: 100px;
    font-size: 15px;
    color: white;
    bottom: 0%;
    left: 44px;
}

.square {
    text-align: center;
    width: 49px;
    height: 50px;
    position: absolute;
    right: 0px;
    background-color: white;
}

.cuore {
    padding-top: 5px;
    font-size: 30px;
}